{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

	<h1 class="text-center fw-bolder">Liste des articles</h1>
	{{ form_start(filter) }}
		{{form_widget(filter) }}
	{{ form_end(filter) }}
	<div class="row mt-5 d-flex justify-content-center">
		{% for article in articles %}
			<div class="card border-secondary col-3 me-2 mb-3 p-0 h-auto" style="max-width: 20rem;">
				<div class="card-header">{{ article.title }}</div>
				<div class="card-body">
					<p class="pcategory fw-bolder card-text">Catégorie : {{article.category.name}}</p>
					{% for tag in article.tags %}
					<span class="badge rounded-pill bg-dark mt-2"> Tags : {{tag.name}}</span>
					{% endfor %}
					<p class="card-text mt-2">{{ article.content }}</p>
					<p class="card-text">Crée le :
						{{ article.createdAt|date('d/m/Y') }}</p>
					<p class="card-text">Mis à jour à :
						{{ article.updatedAt|date('H:i') }}</p>
					<a href="{{ path('blog_show', {slug: article.slug}) }}" class="btn btn-secondary text-center">Voir article</a>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
