{% extends 'base.html.twig' %}

{% block title %} Article {%endblock%}

{% block body %}
    <H1 class="text-center fw-bolder">Consulter un article</H1>
    <section class="container d-flex mx-auto">
        <div class="card border-secondary col-3  mb-3 p-0 mx-auto" style="max-width: 20rem;">
                <div class="card-header">{{ article.title }}</div>
                    <div class="card-body">
                        <p class="pcategory fw-bolder card-text">Catégorie : {{article.category.name}}</p>
                        {# <p class="pcategory fw-bolder card-text">Tags : {{article.tag.name}}</p> #}
                        <p class="card-text">{{ article.content }}</p>
                        <p class="card-text">Crée le :
                            {{ article.createdAt|date('d/m/Y') }}</p>
                        <p class="card-text">Mis à jour à :
                            {{ article.updatedAt|date('H:i') }}</p>
                       <a href="{{ path('blog_edit', {slug: article.slug}) }}" class="btn btn-warning">Modifier</a>
                        <a href="{{ path('blog_delete',{slug: article.slug}) }}" class="btn btn-danger">Supprimer</a>
                    </div>
                </div>
        </div>
    </section>
{%endblock%}